body {
  background: rgb(230, 230, 230);
  width: 100vw;
  height: 100vh;
  margin: 0;
  color: white;
  font-family: sans-serif;
  overflow: hidden;
}
#setting {
  position: absolute;
  right: 1.5vw;
  top: 1.5vh;
  border-radius: 2px;
  padding: 1vh;
  border: 5px solid rgb(255, 75, 75);
  color: rgb(255, 75, 75);
  cursor: pointer;
  user-select: none;
  transition: 1s color;
  margin: 0;
  z-index: 2;
}
#menu {
  position: absolute;
  top: 1vh;
  cursor: pointer;
  user-select: none;
  transition: 1s left;
}
.Menu {
  position: absolute;
  height: 100vh;
  width: 20vw;
  background-color: rgb(50, 50, 255);
  transition: 1s left;
  color: white;
}
.Menu h2 {
  cursor: pointer;
  text-align: left;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 1vh;
  user-select: none;
}
.Menu h2:hover {
  background-color: rgb(200, 200, 200);
  border-radius: 5px;
}
.settings {
  width: 100vw;
  height: 100vh;
  background-color: rgb(210, 210, 210);
  z-index: 1;
  position: absolute;
  transition: top 1s;
}
.settings {
  user-select: none;
}
.settings div {
  width: 10vw;
  height: 20vh;
  position: absolute;
  cursor: pointer;
}
.Theme {
  left: 20vw;
  top: 20vh;
}
.pages {
  transition: all 1s;
  height: 92.5vh;
  position: absolute;
  bottom: 0;
  right: 0;
  color: black;
  user-select: none;
  text-align: left;
}
.pages h2 {
  margin-left: 5%;
}
.welcome {
  background-color: white;
  height: 50%;
  width: 50%;
  position: absolute;
  left: 5vw;
  top: 5vh;
}
.goal {
  width: 40%;
  height: 30%;
  background-color: white;
  position: absolute;
  bottom: 10vh;
  left: 5vw;
}
.todo {
  width: 45%;
  height: 30%;
  background-color: white;
  position: absolute;
  bottom: 10vh;
  right: 5vw;
}
.todo h2 {
  margin-bottom: 1%;
}
.edittodo .container{
  width: 29vw;
  margin: 0;
  height: 15vh;
  cursor: pointer;
}
.edittodo input {
  position: relative;
  width: 25vw;
  margin-left: 1vw;
  margin-top: 1vh;
}
#editable {
  position: absolute;
  right: 1vw;
  top: 1vh;
  cursor: pointer;
}
.edittodo {
  overflow-y: scroll;
  width: 30vw;
  height: 40vh;
  background-color: white;
  position: absolute;
  bottom: 40vh;
  right: 5vw;
}
