body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  color: black;
  font-family: sans-serif;
  overflow: hidden;
}
#menu {
  position: absolute;
  top: 1vh;
  cursor: pointer;
  user-select: none;
}
.Menu {
  position: absolute;
  height: 100vh;
  width: 20vw;
  color: white;
}
.Menu h2 {
  cursor: pointer;
  text-align: left;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 1vh;
  user-select: none;
}
.Menu h2:hover {
  background-color: rgb(200, 200, 200);
  border-radius: 5px;
}
.pages {
  height: 92.5vh;
  position: absolute;
  bottom: 0;
  right: 0;
  color: black;
  user-select: none;
  text-align: left;
}

.blocks {
  background-color: var(--blockcolor);
}
.pages h2 {
  margin-left: 5%;
}
.welcome {
  height: 50%;
  width: 50%;
  position: absolute;
  left: 5vw;
  top: 5vh;
  overflow: scroll;
}
.goal {
  width: 40%;
  height: 30%;
  background-color: white;
  position: absolute;
  bottom: 10vh;
  left: 5vw;
  overflow: scroll;
}
.todo {
  width: 45%;
  height: 30%;
  background-color: white;
  position: absolute;
  bottom: 10vh;
  right: 5vw;
  overflow: scroll;
}
.todo h2 {
  margin-bottom: 1%;
}
.edittodo .container{
  width: 29vw;
  margin: 0;
  height: 15vh;
  cursor: pointer;
}
.edittodo input {
  position: relative;
  width: 25vw;
  margin-left: 1vw;
  margin-top: 1vh;
}
#editable {
  position: absolute;
  right: 1vw;
  top: 1vh;
  cursor: pointer;
}
.edittodo {
  overflow-y: scroll;
  width: 30vw;
  height: 40vh;
  background-color: white;
  position: absolute;
  bottom: 40vh;
  right: 5vw;
}
@keyframes editopen {
  0%{height: 0;}
  50%{height: 20vh;}
  100%{height: 40vh;}
}
@keyframes editclose {
  0%{height: 40vh;}
  50%{height: 20vh;}
  100%{height: 0;}
}
@keyframes inputclose1 {
  0%{height: 2.5vh;}
  100%{height: 0;}
}
@keyframes inputopen1 {
  0%{height: 0;}
  100%{height: 2.5vh;}
}
@keyframes goalopen {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes goalclose {
  0%{opacity: 1;}
  100%{opacity: 0;}
}
.productive {
  width: 45vw;
  height: 28vh;
  margin-left: 2.5vw;
}
#goaledit {
  top: 1vh;
  right: 1vw;
  position: absolute;
  cursor: pointer;
}
.editgoal {
  overflow-y: scroll;
  width: 30vw;
  height: 40vh;
  background-color: white;
  position: absolute;
  bottom: 40vh;
  right: 5vw;
}
.editgoal input {
  width: 25vw;
  margin-left: 1.5vw;
  margin-top: 3vh;
}
.usersetting {
  width: 25vw;
  background-color: white;
  height: 20vh;
  left: 5vw;
  position: absolute;
  top: 5vh;
  overflow: scroll;
}
.usersetting h2 {
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  padding-left: 2vw;
}
.usersetting input {
  margin-left: 5vw;
}
.background {
  background-color: white;
  width: 20%;
  height: 20vh;
  left: 32.5vw;
  top: 5vh;
  padding-left: 2.5vw;
  overflow: scroll;
  position: absolute;
}
.colordisplay {
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 5vw;
  margin-left: 2vw;
}
.colorcontainer {
  display: flex;
}
.background .button {
  cursor: pointer;
  margin-right: 2vw;
  margin-top: 2.5vh;
  color: black;
}
.luckydraw {
  background-color: white;
  width: 40%;
  height: 30vh;
  left: 5vw;
  position: absolute;
}
.luckydraw .add {
  position: absolute;
  top: 2vh;
  right: 2vw;
  margin: 0;
  cursor: pointer;
}
.drawinput input {
  right: 5vw;
  top: 5vh;
  position: absolute;
}
.luckydraw input {
  color: black;
}
#spinbut {
  cursor: pointer;
  position: absolute;
  right: 2vw;
  bottom: 2vh;
}
#drawinput {
#  width: 100vw;
#  height: 20vh;
#  background-color: blue;
#}
.drawinput {
  width: 100vw;
  height: 20vh;
  background-color: blue;
}
.log {
  width: 40%;
  height: 30vh;
  position: absolute;
  right: 10vw;
  background-color: white;
}
.inputcontainer {
  width: 12.5vw;
  height: 22.5vh;
  overflow: scroll;
  position: absolute;
  right: 2vw;
  top: 5vh;
  background-color: white;
}
.inputcontainer input {
  margin-bottom: 2.5vh;
}
.log .add {
  position: absolute;
  top: 2vh;
  right: 2vw;
  margin: 0;
  cursor: pointer;
}
.activitymonitor{
  position: absolute;
  top: 35vh;
  left: 5vw;
  width: 30vw;
  height: 35vh;
  background-color: white;
}
.progressinputs {
  margin-top: 1.5vh;
  margin-left: 5vw;
}
.progressinputs input {
  margin-right: 2vw;
}
.bars{
  margin-top: 2vh;
}
.bar {
  height: 6vh;
  font-family: sans-serif;
  text-align: end;
  font-size: 1.5vh;
}
